n8n-workflows/wf00-website-scrapper.json
{
  "name": "WF00 — Website Scrapper (Branding Bio)",
  "nodes": [
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000001",
      "name": "Webhook — Scrape URL",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "parameters": {
        "path": "website-scrapper",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "wf00-website-scrapper"
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000002",
      "name": "⚙️ Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "jsCode": "// ── PASTE YOUR KEY HERE ─────────────────────────\nconst ANTHROPIC_KEY = 'sk-ant-PASTE-YOUR-KEY-HERE';\n// ─────────────────────────────────────────────────\n\nconst raw = $input.first().json;\nconst url = raw.body?.url || raw.url || raw.query?.url || '';\nif (!url || !url.startsWith('http')) throw new Error(`URL missing. Got: \"${url}\"`);\nreturn [{ json: { url: url.trim(), anthropicKey: ANTHROPIC_KEY } }];"
      }
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000003",
      "name": "Jina.ai — Clean Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 160],
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "text/plain" },
            { "name": "X-Return-Format", "value": "markdown" }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "text" } }
        }
      }
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000004",
      "name": "Fetch HTML — Colors & Fonts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 440],
      "parameters": {
        "url": "={{ $('⚙️ Config').first().json.url }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; BrandScraper/1.0)" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "text" } }
        }
      }
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000005",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [760, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000006",
      "name": "Extract CSS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst markdown = items[0]?.json?.data || '';\nconst html     = items[1]?.json?.data || '';\nconst cfg      = $('⚙️ Config').first().json;\n\n// ── COLORS ────────────────────────────────────────────────\nfunction isNeutral(hex) {\n  const r=parseInt(hex.slice(1,3),16),g=parseInt(hex.slice(3,5),16),b=parseInt(hex.slice(5,7),16);\n  const max=Math.max(r,g,b),min=Math.min(r,g,b);\n  const l=(max+min)/510;\n  const s=max===min?0:(max-min)/(255-Math.abs(max+min-255));\n  return s<0.15||l>0.93||l<0.07;\n}\nconst seenC=new Set(); const brandColors=[];\nfunction addColor(hex){\n  if(!hex) return;\n  const c=hex.toLowerCase();\n  if(!seenC.has(c)&&!isNeutral(hex)&&/^#[0-9a-f]{6}$/.test(c)){seenC.add(c);brandColors.push(hex);}\n}\n\n// 1. meta theme-color\nconst tc=html.match(/<meta[^>]+name=[\"']theme-color[\"'][^>]+content=[\"']([^\"']+)/i)||\n          html.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+name=[\"']theme-color[\"']/i);\nif(tc?.[1]?.startsWith('#')) addColor(tc[1]);\n\n// 2. SVG fill attributes (logo/icon brand colors — highest priority)\n(html.match(/\\bfill=[\"']#([0-9a-fA-F]{6})[\"']/g)||[]).forEach(m=>{\n  const h=m.match(/#[0-9a-fA-F]{6}/)?.[0];if(h)addColor(h);\n});\n\n// 3. SVG fill as style property: fill:#rrggbb\n(html.match(/\\bfill\\s*:\\s*#([0-9a-fA-F]{6})/g)||[]).forEach(m=>{\n  const h=m.match(/#[0-9a-fA-F]{6}/)?.[0];if(h)addColor(h);\n});\n\n// 4. gradient stop-color\n(html.match(/stop-color\\s*[=:]\\s*[\"']?#([0-9a-fA-F]{6})/gi)||[]).forEach(m=>{\n  const h=m.match(/#[0-9a-fA-F]{6}/)?.[0];if(h)addColor(h);\n});\n\n// 5. inline style attributes — any hex color value\n(html.match(/style=[\"'][^\"']*#[0-9a-fA-F]{6}[^\"']*/gi)||[]).forEach(m=>{\n  (m.match(/#[0-9a-fA-F]{6}/g)||[]).forEach(addColor);\n});\n\n// 6. :root / html CSS variable blocks\n(html.match(/(?::root|html)\\s*\\{([^}]{0,3000})\\}/gi)||[]).forEach(b=>{\n  (b.match(/#[0-9a-fA-F]{6}\\b/g)||[]).forEach(addColor);\n});\n\n// 7. named CSS custom properties (--color-*, --primary-*, etc.)\n(html.match(/<style[^>]*>([\\s\\S]*?)<\\/style>/gi)||[]).forEach(block=>{\n  const vm=block.match(/--(?:color|primary|secondary|brand|accent|main|hero|dark|light|bg)[\\w-]*\\s*:\\s*(#[0-9a-fA-F]{6})/gi)||[];\n  vm.forEach(m=>{const h=m.match(/#[0-9a-fA-F]{6}/)?.[0];if(h)addColor(h);});\n});\n\n// 8. named CSS classes\n(html.match(/\\.(?:brand|primary|accent|main|hero|header|navbar|btn-primary|cta)[\\w-]*[^{]*\\{([^}]+)\\}/gi)||[]).forEach(r=>{\n  (r.match(/#[0-9a-fA-F]{6}\\b/g)||[]).forEach(addColor);\n});\n\n// 9. frequency fallback if still sparse\nif(brandColors.length<2){\n  const freq={};\n  (html.match(/#[0-9a-fA-F]{6}\\b/g)||[]).forEach(c=>{if(!isNeutral(c))freq[c.toLowerCase()]=(freq[c.toLowerCase()]||0)+1;});\n  Object.entries(freq).sort((a,b)=>b[1]-a[1]).forEach(([hex])=>addColor(hex));\n}\n\nconst roles=['Primary','Secondary','Accent','Highlight','Neutral','Background'];\nconst palette=brandColors.slice(0,6).length>=2\n  ?brandColors.slice(0,6).map((hex,i)=>({hex,name:roles[i]||'Color'}))\n  :[{hex:'#1A2E44',name:'Primary'},{hex:'#C9A96E',name:'Gold Accent'},{hex:'#F8F6F1',name:'Background'}];\n\n// ── TYPOGRAPHY ────────────────────────────────────────────\nconst seenF=new Set(); const fonts=[];\nfunction addFont(raw){\n  const name=decodeURIComponent(raw).replace(/\\+/g,' ').replace(/:.*$/,'').replace(/[\"']/g,'').trim();\n  if(name.length>1&&!seenF.has(name.toLowerCase())){seenF.add(name.toLowerCase());fonts.push(name);}\n}\n(html.match(/fonts\\.googleapis\\.com\\/css[^\"'> ]*/gi)||[]).forEach(link=>{\n  [...link.matchAll(/family=([^&|:+; \">]+)/gi)].forEach(m=>addFont(m[1]));\n});\n(html.match(/@import\\s+url\\([^)]+googleapis[^)]+\\)/gi)||[]).forEach(imp=>{\n  [...imp.matchAll(/family=([^&|:+;\"' >)]+)/gi)].forEach(m=>addFont(m[1]));\n});\nif(fonts.length===0)\n  [...html.matchAll(/font-family\\s*:\\s*[\"']([^\"']{2,40})[\"']/gi)].forEach(m=>addFont(m[1]));\n\nconst monoFont=fonts.find(f=>/mono|code|courier|jetbrains|fira|source/i.test(f))||'JetBrains Mono';\nconst nonMono=fonts.filter(f=>!/mono|code|courier|jetbrains|fira|source/i.test(f));\nconst typography={heading:nonMono[0]||'',body:nonMono[1]||nonMono[0]||'',mono:monoFont};\n\n// ── SOCIAL CHANNELS ───────────────────────────────────────\nconst socialDefs=[\n  {name:'Instagram',   icon:'instagram', color:'#E4405F', re:/instagram\\.com\\/([A-Za-z0-9_.]{2,30})/i},\n  {name:'LinkedIn',    icon:'linkedin',  color:'#0A66C2', re:/linkedin\\.com\\/company\\/([A-Za-z0-9_-]{2,50})/i},\n  {name:'Facebook',    icon:'facebook',  color:'#1877F2', re:/facebook\\.com\\/([A-Za-z0-9_.]{2,50})/i},\n  {name:'YouTube',     icon:'youtube',   color:'#FF0000', re:/youtube\\.com\\/(?:channel\\/|@|user\\/)([A-Za-z0-9_-]{2,50})/i},\n  {name:'X / Twitter', icon:'twitter',   color:'#000000', re:/(?:twitter|x)\\.com\\/([A-Za-z0-9_]{2,50})/i},\n  {name:'TikTok',      icon:'music',     color:'#010101', re:/tiktok\\.com\\/@([A-Za-z0-9_.]{2,50})/i},\n];\nconst channels=[];\nconst seenSocial=new Set();\nconst SKIP=/^(share|intent|sharer|login|connect|authorize|platform|ads|business|about|help|legal|privacy|jobs|careers|developers|policies)$/i;\nsocialDefs.forEach(function(d){\n  const m=html.match(d.re);\n  if(m&&m[1]&&!SKIP.test(m[1])&&!seenSocial.has(d.name)){\n    seenSocial.add(d.name);\n    channels.push({name:d.name,icon:d.icon,color:d.color,handle:'@'+m[1],audience:''});\n  }\n});\n\n// ── LOGO (first SVG inside <header>) ──────────────────────\nlet logoSvg='';\nconst headerBlock=html.match(/<header[\\s\\S]{0,3000}?<\\/header>/i);\nconst svgSrc=headerBlock?headerBlock[0]:html;\nconst svgM=svgSrc.match(/<svg[\\s\\S]{10,6000}?<\\/svg>/i);\nif(svgM) logoSvg=svgM[0].replace(/\\s+/g,' ').trim().slice(0,4000);\n\nreturn [{ json: { markdown, url:cfg.url, anthropicKey:cfg.anthropicKey, palette, typography, channels, logoSvg } }];"
      }
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000007",
      "name": "Claude Haiku — Brand Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 300],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.anthropicKey }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1500,\n  \"system\": \"You are a brand analyst. Extract structured brand information from website content. Return ONLY a valid JSON object — no markdown fences, no explanation.\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify('Website URL: ' + $json.url + '\\n\\nContent:\\n' + $json.markdown.slice(0, 7000) + '\\n\\nReturn this JSON (no markdown):\\n{\\n  \"name\": \"Company name\",\\n  \"websiteUrl\": \"' + $json.url + '\",\\n  \"industry\": \"Industry · segment · B2B/B2C\",\\n  \"tagline\": \"Main value prop (1 sentence, max 100 chars)\",\\n  \"mission\": \"What they do and for whom (2-3 sentences)\",\\n  \"values\": [{\"title\": \"Value\", \"desc\": \"What it means in practice\"}],\\n  \"personas\": [{\"code\": \"P1\", \"role\": \"Job title\", \"label\": \"Buyer role\", \"size\": \"Company size\", \"pains\": \"Key pain points\", \"triggers\": \"Buying triggers\"}]\\n}\\n\\nValues: 2-4 items. Personas: 1-3 items. Return ONLY the JSON.') }}\n  }]\n}"
      }
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000008",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 300],
      "parameters": {
        "jsCode": "const rawText = $input.first().json?.content?.[0]?.text || '';\nconst cssData = $('Extract CSS Data').first().json;\n\nlet claudeData = {};\ntry {\n  const cleaned = rawText.replace(/^```json?\\s*/i,'').replace(/\\s*```$/i,'').trim();\n  claudeData = JSON.parse(cleaned);\n} catch(e) {\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (match) try { claudeData = JSON.parse(match[0]); } catch {}\n}\n\n// Claude handles semantic fields; CSS extraction handles visual + social fields\nconst result = {\n  ...claudeData,\n  palette:    cssData.palette,\n  typography: cssData.typography,\n  channels:   cssData.channels,\n  logoSvg:    cssData.logoSvg,\n};\n\nif (!result.name) result.name = cssData.url.replace(/https?:\\/\\/(www\\.)?/,'').split('/')[0];\nif (!result.websiteUrl) result.websiteUrl = cssData.url;\n\nconsole.log('[WF00] result:', JSON.stringify(result));\nreturn [{ json: result }];"
      }
    },
    {
      "id": "a1b2c3d4-0000-0000-0000-000000000009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook — Scrape URL": {
      "main": [[{ "node": "⚙️ Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Config": {
      "main": [[
        { "node": "Jina.ai — Clean Markdown", "type": "main", "index": 0 },
        { "node": "Fetch HTML — Colors & Fonts", "type": "main", "index": 0 }
      ]]
    },
    "Jina.ai — Clean Markdown": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Fetch HTML — Colors & Fonts": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Merge": {
      "main": [[{ "node": "Extract CSS Data", "type": "main", "index": 0 }]]
    },
    "Extract CSS Data": {
      "main": [[{ "node": "Claude Haiku — Brand Extraction", "type": "main", "index": 0 }]]
    },
    "Claude Haiku — Brand Extraction": {
      "main": [[{ "node": "Combine Results", "type": "main", "index": 0 }]]
    },
    "Combine Results": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "notes": "Hybrid approach: CSS/HTML extraction for colors (SVG fills, inline styles, gradients), typography (Google Fonts), social channels (Instagram/LinkedIn/Facebook/YouTube/X/TikTok handles), and logo (inline SVG from header). Claude Haiku handles semantic fields: name, industry, tagline, mission, values, personas. SETUP: Open '⚙️ Config' node and replace 'sk-ant-PASTE-YOUR-KEY-HERE' with your Anthropic API key. Cost: ~$0.001 per scrape."
  }
}
