n8n-workflows/wf01-brand-sync-extension.json
{
  "name": "WF01 Extension — Brand → Social Media App Config Sync",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook — Brand Profile Updated",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "parameters": {
        "path": "brand-profile-updated",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "wf01-brand-profile"
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Save to Supabase brand_profiles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 300],
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/brand_profiles",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.SUPABASE_ANON}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.SUPABASE_ANON}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_id\": \"{{$json.brand_id}}\",\n  \"data_json\": {{JSON.stringify($json.profile_payload)}},\n  \"updated_at\": \"{{$now.toISO()}}\"\n}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Check if brandvoice rebuild",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$('Webhook — Brand Profile Updated').item.json.changed_fields.join(',')}}",
              "operation": "contains",
              "value2": "brandvoice_rebuild"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Trigger WF02 BrandVoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [760, 180],
      "parameters": {
        "url": "={{$vars.N8N_BASE_URL}}/webhook/brandvoice",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "brand_id", "value": "={{$('Webhook — Brand Profile Updated').item.json.brand_id}}" }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Build newConceptsInstruction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 420],
      "parameters": {
        "jsCode": "const webhookData = $('Webhook — Brand Profile Updated').item.json;\nconst p = webhookData.profile_payload || {};\nconst id = p.identity || {};\nconst personas = Array.isArray(p.personas) ? p.personas : [];\nconst tones = Array.isArray(p.tone_by_channel) ? p.tone_by_channel : [];\nconst samples = Array.isArray(p.content_samples) ? p.content_samples : [];\n\nconst personaList = personas.length\n  ? personas.map(pe => `- ${pe.role || pe.label}: ${[pe.painPoints, pe.context].filter(Boolean).join('. ')}`).join('\\n')\n  : '- General business audience';\n\nconst toneList = tones.length\n  ? tones.map(t => `- ${t.channel}: ${t.tone || ''} (${t.formality || ''}). ${t.examples || ''}`).join('\\n')\n  : '- Professional and direct';\n\nconst sampleRef = samples.length\n  ? `\\nExisting content references:\\n${samples.slice(0, 3).map(s => `- \"${s.title}\" on ${s.channel}`).join('\\n')}`\n  : '';\n\nconst companyName = (id.company_name || 'BRAND').toUpperCase().replace(/[^A-Z0-9]/g, '').slice(0, 20);\n\nconst newConceptsInstruction = `Adapt this video for ${id.company_name || 'the brand'}.\n\nAbout the brand: ${id.mission || id.tagline || ''}\nIndustry: ${id.industry || ''}\n\nTarget audience:\n${personaList}\n\nBrand tone by channel:\n${toneList}${sampleRef}\n\nTask:\nGive us 3 NEW video concepts inspired by the ORIGINAL reference.\nDo not copy the original. Translate the core idea into the ${id.industry || 'brand'} context.\nMAINLY iterate and sharpen the HOOKS.\n\nFocus:\n- First 3 seconds must stop the target audience from scrolling\n- Hooks should challenge a belief, fear, or misconception the audience has\n- Match the brand tone per channel (listed above)\n- No buzzwords, no exaggeration\n\nOutput format:\n\n# CONCEPT 1\nText description (1-3 sentences)\n\n## HOOK\n- VISUAL: what is seen in the first 2 seconds\n- SPOKEN: first line said (quote it)\n- WHY IT WORKS: why this hook stops the viewer\n\n## SCRIPT\nScene flow and spoken text (1-20 sentences)\n\n# CONCEPT 2\n...\n\n# CONCEPT 3\n...`;\n\nreturn [{ json: {\n  configName: companyName,\n  creatorsCategory: companyName.toLowerCase(),\n  newConceptsInstruction,\n  brand_id: webhookData.brand_id,\n} }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Get Existing Social Media Configs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [980, 420],
      "parameters": {
        "url": "={{$vars.SOCIAL_MEDIA_APP_URL}}/api/configs",
        "method": "GET"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Find Existing Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 420],
      "parameters": {
        "jsCode": "const configs = $input.all().map(i => i.json);\nconst configName = $('Build newConceptsInstruction').item.json.configName;\nconst existing = configs.find(c => c.configName === configName);\nreturn [{ json: {\n  existing: existing || null,\n  configName: $('Build newConceptsInstruction').item.json.configName,\n  creatorsCategory: $('Build newConceptsInstruction').item.json.creatorsCategory,\n  newConceptsInstruction: $('Build newConceptsInstruction').item.json.newConceptsInstruction,\n} }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Config exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, 420],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.existing !== null}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "UPDATE Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1640, 300],
      "parameters": {
        "url": "={{$vars.SOCIAL_MEDIA_APP_URL}}/api/configs",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{$json.existing.id}}\",\n  \"configName\": \"{{$json.configName}}\",\n  \"creatorsCategory\": \"{{$json.creatorsCategory}}\",\n  \"newConceptsInstruction\": \"{{$json.newConceptsInstruction}}\"\n}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "CREATE Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1640, 540],
      "parameters": {
        "url": "={{$vars.SOCIAL_MEDIA_APP_URL}}/api/configs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"configName\": \"{{$json.configName}}\",\n  \"creatorsCategory\": \"{{$json.creatorsCategory}}\",\n  \"analysisInstruction\": \"# CONCEPT\\nOverall description of the concept (1-3 sentences).\\n\\n# HOOK\\n- VISUAL: first 1-2 seconds\\n- TEXT: on-screen statement (max 6-8 words)\\n- AUDIO: first spoken words\\n\\n# RETENTION MECHANISMS\\nHow the creator retains viewers.\\n\\n# REWARD\\nValue the viewer gets.\\n\\n# SCRIPT\\nFull script (1-20 sentences).\\n\\nRULE: THE SHORTER THE BETTER.\",\n  \"newConceptsInstruction\": \"{{$json.newConceptsInstruction}}\"\n}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1860, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"brandvoice_queued\": true, \"social_media_config_synced\": true }"
      }
    }
  ],
  "connections": {
    "Webhook — Brand Profile Updated": {
      "main": [
        [
          { "node": "Save to Supabase brand_profiles", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save to Supabase brand_profiles": {
      "main": [
        [
          { "node": "Check if brandvoice rebuild", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check if brandvoice rebuild": {
      "main": [
        [
          { "node": "Trigger WF02 BrandVoice", "type": "main", "index": 0 },
          { "node": "Build newConceptsInstruction", "type": "main", "index": 0 }
        ],
        [
          { "node": "Build newConceptsInstruction", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build newConceptsInstruction": {
      "main": [
        [
          { "node": "Get Existing Social Media Configs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Existing Social Media Configs": {
      "main": [
        [
          { "node": "Find Existing Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Find Existing Config": {
      "main": [
        [
          { "node": "Config exists?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Config exists?": {
      "main": [
        [
          { "node": "UPDATE Config", "type": "main", "index": 0 }
        ],
        [
          { "node": "CREATE Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "UPDATE Config": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "CREATE Config": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "notes": "SETUP: Set n8n variables SUPABASE_URL, SUPABASE_ANON, SOCIAL_MEDIA_APP_URL, N8N_BASE_URL. This workflow: (1) saves brand profile to Supabase, (2) optionally triggers WF02 BrandVoice, (3) auto-generates a newConceptsInstruction prompt from brand data (company, personas, tone), (4) creates or updates the matching config in the social media app. Result: every time you save Branding Bio, the competitor video analysis pipeline gets an updated brand-specific prompt automatically."
  }
}
