n8n-workflows/wf02-socialmedia-bios.json
{
  "name": "WF02 — SocialMediaBios (Owned Channels Analysis)",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "nodes": [
    {
      "id": "23aaabc6-05db-47c0-b077-c478fb89de4e",
      "name": "Webhook — Scan Owned Channels",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4112,
        464
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "socialmedia-bios",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "webhookId": "wf02-socialmedia-bios"
    },
    {
      "id": "ced4c030-ad04-4337-82ed-3c87ac47b89f",
      "name": "⚙️ Config & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4336,
        464
      ],
      "parameters": {
        "jsCode": "// Normalize webhook input. Supported channels: Instagram + TikTok + LinkedIn.\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst channels = Array.isArray(body.channels) ? body.channels : [];\nconst maxPosts = Math.min(Math.max(parseInt(body.maxPosts || 30, 10), 5), 100);\nconst brandId  = body.brand_id || body.brandId || null;\nconst weights  = body.scoringWeights || { engagement: 0.5, reach: 0.3, saves: 0.2 };\n\nif (!channels.length) {\n  throw new Error('No channels provided. Expected body.channels = [{ name, handle, profileUrl }, ...]');\n}\n\nconst out = { brandId, maxPosts, weights, channels: [] };\n\nfor (const c of channels) {\n  const name = (c.name || '').trim();\n  const handle = (c.handle || '').replace(/^@/, '').trim();\n  const profileUrl = (c.profileUrl || '').trim();\n  if (!name) continue;\n\n  let normalized = { name, handle, profileUrl, enabled: false };\n\n  if (/instagram/i.test(name)) {\n    if (handle) { normalized.profileUrl = `https://www.instagram.com/${handle}/`; normalized.enabled = true; }\n  } else if (/tiktok/i.test(name)) {\n    if (handle) { normalized.profileUrl = `https://www.tiktok.com/@${handle}`;    normalized.enabled = true; }\n  } else if (/linkedin/i.test(name)) {\n    if (handle || profileUrl) {\n      normalized.profileUrl = (profileUrl || `https://www.linkedin.com/company/${handle}/`).replace(/\\/$/, '');\n      normalized.enabled = true;\n    }\n  } else {\n    continue;\n  }\n\n  out.channels.push(normalized);\n}\n\nout.scanInstagram = out.channels.find(c => /instagram/i.test(c.name) && c.enabled) || null;\nout.scanTikTok    = out.channels.find(c => /tiktok/i.test(c.name)    && c.enabled) || null;\nout.scanLinkedIn  = out.channels.find(c => /linkedin/i.test(c.name)  && c.enabled) || null;\n\nreturn [{ json: out }];"
      }
    },
    {
      "id": "cb261fa0-3c74-4abe-ad9d-e96bd2ff33b0",
      "name": "Apify — Instagram Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4608,
        352
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"directUrls\": [\"{{ $('⚙️ Config & Route').first().json.scanInstagram.profileUrl }}\"],\n  \"resultsType\": \"posts\",\n  \"resultsLimit\": {{ $('⚙️ Config & Route').first().json.maxPosts }},\n  \"searchType\": \"user\",\n  \"addParentData\": false\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 180000
        }
      },
      "credentials": {
        "apifyApi": {
          "id": "578ElguokD1xbL56",
          "name": "Apify Sales"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "f5add45e-8822-4614-b59b-6bbc427d192c",
      "name": "Apify — TikTok Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4608,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"profiles\": [\"{{ $('⚙️ Config & Route').first().json.scanTikTok.handle }}\"],\n  \"resultsPerPage\": {{ $('⚙️ Config & Route').first().json.maxPosts }},\n  \"shouldDownloadVideos\": false,\n  \"shouldDownloadCovers\": false,\n  \"shouldDownloadSubtitles\": false\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 180000
        }
      },
      "credentials": {
        "apifyApi": {
          "id": "578ElguokD1xbL56",
          "name": "Apify Sales"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1c3e7d2-0b41-4f88-9a02-li-company-001",
      "name": "Apify — LinkedIn Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4608,
        768
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-company/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"companies\": [\"{{ $('⚙️ Config & Route').first().json.scanLinkedIn ? $('⚙️ Config & Route').first().json.scanLinkedIn.profileUrl : '' }}\"]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 180000
        }
      },
      "credentials": {
        "apifyApi": {
          "id": "578ElguokD1xbL56",
          "name": "Apify Sales"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2d4f8e3-1c52-5099-ab13-li-posts-0001",
      "name": "Apify — LinkedIn Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4608,
        896
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-company-posts/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrls\": [\"{{ $('⚙️ Config & Route').first().json.scanLinkedIn ? $('⚙️ Config & Route').first().json.scanLinkedIn.profileUrl : '' }}\"],\n  \"maxPosts\": {{ $('⚙️ Config & Route').first().json.maxPosts }},\n  \"includeReposts\": false,\n  \"includeQuotePosts\": true,\n  \"scrapeReactions\": false,\n  \"scrapeComments\": false\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 180000
        }
      },
      "credentials": {
        "apifyApi": {
          "id": "578ElguokD1xbL56",
          "name": "Apify Sales"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "d4a6e1f5-3e74-61bb-cd35-merge-li-0001",
      "name": "Merge LinkedIn",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4824,
        832
      ],
      "parameters": {
        "numberInputs": 2
      }
    },
    {
      "id": "ce34f049-5736-4ad8-986a-4aa5a6317a01",
      "name": "Bundle Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        352
      ],
      "parameters": {
        "jsCode": "// Collapse Instagram Apify POSTS output into ONE { channel, meta, posts }.\nconst cfg = $('⚙️ Config & Route').first().json;\nconst metaIn = cfg.scanInstagram || { name: 'Instagram', handle: '', profileUrl: '' };\nconst raw = $input.all().map(it => it && it.json ? it.json : it).filter(Boolean);\n\nfunction nz(v) { return typeof v === 'number' && isFinite(v) ? v : 0; }\n\nconst meta = { ...metaIn, followers: null };\n\nconst posts = raw.map((p, i) => {\n  const text = p.caption || p.text || '';\n  const url  = p.url || (p.shortCode ? `https://www.instagram.com/p/${p.shortCode}/` : '');\n  return {\n    id: p.id || p.shortCode || `ig-${i}`,\n    channel: 'Instagram',\n    text: String(text).slice(0, 2000),\n    snippet: String(text).replace(/\\s+/g, ' ').slice(0, 180),\n    format: (p.type || p.productType || 'post').toString().toLowerCase(),\n    publishedAt: p.timestamp || p.takenAt || null,\n    url,\n    metrics: {\n      likes:       nz(p.likesCount),\n      comments:    nz(p.commentsCount),\n      shares:      0,\n      impressions: nz(p.videoViewCount || p.videoPlayCount || 0),\n    },\n  };\n});\n\nreturn [{ json: { channel: 'Instagram', meta, posts } }];"
      }
    },
    {
      "id": "ddd173bb-5fdf-461c-9406-da38636a21d4",
      "name": "Bundle TikTok",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        560
      ],
      "parameters": {
        "jsCode": "// Collapse TikTok Apify POSTS output. clockworks/tiktok-scraper returns FLAT keys.\nconst cfg = $('⚙️ Config & Route').first().json;\nconst metaIn = cfg.scanTikTok || { name: 'TikTok', handle: '', profileUrl: '' };\nconst raw = $input.all().map(it => it && it.json ? it.json : it).filter(Boolean);\n\nfunction nz(v) { return typeof v === 'number' && isFinite(v) ? v : 0; }\nfunction g(p, ...keys) {\n  for (const k of keys) { if (p[k] !== undefined && p[k] !== null) return p[k]; }\n  return undefined;\n}\n\nlet followers = null;\nfor (const p of raw) {\n  const am = p.authorMeta || {};\n  if (am.fans != null && Number.isFinite(am.fans)) { followers = am.fans; break; }\n}\nconst meta = { ...metaIn, followers };\n\nconst posts = raw.map((p, i) => {\n  const text = p.text || p.desc || '';\n  const url  = p.webVideoUrl || p.videoUrl || '';\n  const id   = p.id || (url.match(/video\\/(\\d+)/) || [])[1] || `tt-${i}`;\n  return {\n    id: String(id),\n    channel: 'TikTok',\n    text: String(text).slice(0, 2000),\n    snippet: String(text).replace(/\\s+/g, ' ').slice(0, 180),\n    format: 'video',\n    publishedAt: p.createTimeISO || (p.createTime ? new Date(p.createTime * 1000).toISOString() : null),\n    url,\n    metrics: {\n      likes:       nz(g(p, 'diggCount')    || g(p['stats'] || {}, 'diggCount')),\n      comments:    nz(g(p, 'commentCount') || g(p['stats'] || {}, 'commentCount')),\n      shares:      nz(g(p, 'shareCount')   || g(p['stats'] || {}, 'shareCount')),\n      impressions: nz(g(p, 'playCount')    || g(p['stats'] || {}, 'playCount')),\n    },\n  };\n});\n\nreturn [{ json: { channel: 'TikTok', meta, posts } }];"
      }
    },
    {
      "id": "c3e5f9d4-2d63-50aa-bc24-bundle-li-001",
      "name": "Bundle LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        832
      ],
      "parameters": {
        "jsCode": "// Receives items from Merge LinkedIn (1 company item + N post items in one batch).\n// Separates them by shape: company items have followerCount/employeeCount; post items have content/engagement/postedAt.\nconst cfg = $('⚙️ Config & Route').first().json;\nconst metaIn = cfg.scanLinkedIn || { name: 'LinkedIn', handle: '', profileUrl: '' };\nconst raw = $input.all().map(it => it && it.json ? it.json : it).filter(Boolean);\n\nfunction nz(v) { return typeof v === 'number' && isFinite(v) ? v : 0; }\nfunction isCompanyItem(x) { return x && (x.followerCount != null || x.employeeCount != null || (x.universalName != null && x.linkedinUrl && !x.content && !x.engagement)); }\nfunction isPostItem(x)    { return x && (x.content != null || x.engagement != null || x.postedAt != null); }\n\nlet followers = null;\nconst companyItems = raw.filter(isCompanyItem);\nfor (const c of companyItems) {\n  const f = c.followerCount ?? c.followers ?? c.followers_count;\n  if (f != null && Number.isFinite(Number(f))) { followers = Number(f); break; }\n}\nconst meta = { ...metaIn, followers };\n\nconst postItems = raw.filter(isPostItem);\nconst posts = postItems.map((p, i) => {\n  const text = p.content || p.text || '';\n  const url  = p.linkedinUrl || p.url || '';\n  const id   = String(p.id || (url.match(/(?:activity|posts)[/-](\\d+)/) || [])[1] || `li-${i}`);\n  const eng  = p.engagement || {};\n  const ts   = p.postedAt && (p.postedAt.date || (p.postedAt.timestamp && new Date(p.postedAt.timestamp).toISOString())) || p.publishedAt || null;\n  let format = (p.type || 'post').toString().toLowerCase();\n  if (Array.isArray(p.images) && p.images.length > 1) format = 'carousel';\n  else if (p.video || p.videoUrl) format = 'video';\n  else if (p.article) format = 'article';\n  else if (Array.isArray(p.images) && p.images.length === 1) format = 'image';\n  return {\n    id,\n    channel: 'LinkedIn',\n    text: String(text).slice(0, 2000),\n    snippet: String(text).replace(/\\s+/g, ' ').slice(0, 180),\n    format,\n    publishedAt: ts,\n    url,\n    metrics: {\n      likes:       nz(eng.likes ?? eng.reactions_total),\n      comments:    nz(eng.comments),\n      shares:      nz(eng.shares ?? eng.reposts),\n      impressions: 0,\n    },\n  };\n});\n\nconsole.log(`[Bundle LinkedIn] raw=${raw.length} company=${companyItems.length} posts=${postItems.length} → followers=${followers}, posts=${posts.length}`);\nreturn [{ json: { channel: 'LinkedIn', meta, posts } }];"
      }
    },
    {
      "id": "b55676b2-53a9-4bd5-b01e-076c74ab1681",
      "name": "Merge Channels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5320,
        464
      ],
      "parameters": {
        "numberInputs": 3
      }
    },
    {
      "id": "f1513436-8481-4711-99d7-d97c719a9881",
      "name": "Compute Metrics & Heatmap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5552,
        464
      ],
      "parameters": {
        "jsCode": "// Receives 1 item per channel, scores posts, builds top/bottom + 7×24 heatmap.\nconst items = $input.all().map(it => it.json);\nconst cfg = $('⚙️ Config & Route').first().json;\nconst weights = cfg.weights || { engagement: 0.5, reach: 0.3, saves: 0.2 };\n\nconst expected = [];\nif (cfg.scanInstagram) expected.push({ name: 'Instagram', meta: cfg.scanInstagram });\nif (cfg.scanTikTok)    expected.push({ name: 'TikTok',    meta: cfg.scanTikTok });\nif (cfg.scanLinkedIn)  expected.push({ name: 'LinkedIn',  meta: cfg.scanLinkedIn });\n\nconst bundleByChannel = {};\nfor (const it of items) { if (it && it.channel) bundleByChannel[it.channel] = it; }\nconst merged = expected.map(ec => bundleByChannel[ec.name] || { channel: ec.name, meta: ec.meta, posts: [] });\n\nfunction engagementRate(m) {\n  const interactions = (m.likes || 0) + (m.comments || 0) + (m.shares || 0);\n  const denom = (m.impressions || 0) > 0 ? m.impressions : 1000;\n  return +((interactions / denom) * 100).toFixed(2);\n}\n\nfunction buildHeatmap(posts) {\n  const m = Array.from({ length: 7 }, () => Array.from({ length: 24 }, () => ({ count: 0, totalEr: 0 })));\n  for (const p of posts) {\n    if (!p.publishedAt) continue;\n    const d = new Date(p.publishedAt);\n    if (isNaN(d.getTime())) continue;\n    const dow = d.getUTCDay(), hr = d.getUTCHours();\n    const cell = m[dow][hr];\n    m[dow][hr] = { count: cell.count + 1, totalEr: cell.totalEr + (p.engagementRate || 0) };\n  }\n  return m.map(row => row.map(c => ({ count: c.count, avgEr: c.count ? +(c.totalEr / c.count).toFixed(2) : 0 })));\n}\n\nconst CHANNEL_COLOR = { Instagram: '#E4405F', TikTok: '#010101', LinkedIn: '#0A66C2' };\nconst CHANNEL_ICON  = { Instagram: 'instagram', TikTok: 'music', LinkedIn: 'linkedin' };\n\nconst out = { cfg, channels: [] };\n\nfor (const item of merged) {\n  const name = item.channel;\n  const meta = item.meta || {};\n  const rawPosts = Array.isArray(item.posts) ? item.posts : [];\n\n  const posts = rawPosts.map(p => ({ ...p, engagementRate: engagementRate(p.metrics || {}) }));\n  const maxReach = Math.max(1, ...posts.map(p => p.metrics?.impressions || 0));\n  const maxSaves = Math.max(1, ...posts.map(p => p.metrics?.shares || 0));\n  const maxEr    = Math.max(0.01, ...posts.map(p => p.engagementRate));\n\n  const scored = posts.map(p => {\n    const eN = (p.engagementRate || 0) / maxEr;\n    const rN = (p.metrics?.impressions || 0) / maxReach;\n    const sN = (p.metrics?.shares || 0) / maxSaves;\n    const score = (weights.engagement || 0.5) * eN + (weights.reach || 0.3) * rN + (weights.saves || 0.2) * sN;\n    return { ...p, score: +score.toFixed(3) };\n  });\n\n  const sorted = [...scored].sort((a, b) => b.score - a.score);\n  const topPosts    = sorted.slice(0, 5);\n  const bottomPosts = posts.length > 5 ? sorted.slice(-3).reverse() : [];\n\n  const avgEr = posts.length ? +(posts.reduce((s, p) => s + p.engagementRate, 0) / posts.length).toFixed(2) : 0;\n  const cadence = posts.length ? +((posts.length / 12).toFixed(2)) : 0;\n\n  out.channels.push({\n    name,\n    icon: CHANNEL_ICON[name] || name.toLowerCase(),\n    color: CHANNEL_COLOR[name] || '#666',\n    handle: '@' + (meta.handle || ''),\n    profileUrl: meta.profileUrl || '',\n    enabled: true,\n    followers: (meta.followers != null && Number.isFinite(Number(meta.followers))) ? Number(meta.followers) : null,\n    postingCadence: cadence,\n    avgEngagementRate: avgEr,\n    primaryFormat: (posts[0] && posts[0].format) || 'post',\n    posts: scored,\n    topPosts,\n    bottomPosts,\n    cadenceHeatmap: buildHeatmap(scored),\n  });\n}\n\nconsole.log('[WF02 Compute] channels:', out.channels.map(c => `${c.name}(posts=${c.posts.length}, followers=${c.followers})`).join(', '));\nreturn [{ json: out }];"
      }
    },
    {
      "id": "a11a3a5b-d382-40c0-827b-cb6854992d03",
      "name": "Claude Haiku — Tone Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5792,
        464
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 2500,\n  \"system\": \"You are a brand voice analyst. You receive real social media posts grouped by channel and return strictly valid JSON. No markdown fences, no explanation outside the JSON. Be opinionated — score each axis at extremes (10-25 or 75-95) rather than clustering around 50.\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify(\n      'Analyze the brand voice of these owned social media channels. For each channel return tone metrics (0-100), a one-sentence summary, voice rules (always / never), and one-line explanations of why the top 3 posts worked.\\n\\nINPUT:\\n' +\n      JSON.stringify($json.channels.map(c => ({\n        channel: c.name,\n        handle: c.handle,\n        avgEngagementRate: c.avgEngagementRate,\n        topPosts: (c.topPosts || []).map(p => ({ id: p.id, snippet: p.snippet, format: p.format, er: p.engagementRate, likes: p.metrics?.likes, comments: p.metrics?.comments, shares: p.metrics?.shares })),\n        bottomPosts: (c.bottomPosts || []).map(p => ({ id: p.id, snippet: p.snippet, er: p.engagementRate })),\n      })), null, 2) +\n      '\\n\\nReturn ONLY this JSON shape:\\n{\\n  \"channels\": [\\n    {\\n      \"name\": \"Instagram\",\\n      \"tone\": { \"formal_vs_casual\": 0-100, \"technical_vs_accessible\": 0-100, \"serious_vs_playful\": 0-100, \"humble_vs_bold\": 0-100, \"short_vs_expansive\": 0-100 },\\n      \"toneSummary\": \"One sentence describing the voice\",\\n      \"voiceRules\": { \"always\": [\"3-5 short rules\"], \"never\": [\"3-5 short rules\"] },\\n      \"whyItWorked\": [{ \"postId\": \"X\", \"reason\": \"One sentence\" }]\\n    }\\n  ]\\n}\\n\\nSCORING RULES — each axis 0 = FULLY first adjective, 100 = FULLY second.\\n• formal_vs_casual: 0 = corporate/B2B. 100 = slangy/emoji-heavy.\\n• technical_vs_accessible: 0 = dense jargon. 100 = everyday language.\\n• serious_vs_playful: 0 = business-outcomes. 100 = humor/playful.\\n• humble_vs_bold: 0 = modest/proof-based. 100 = strong opinionated claims.\\n• short_vs_expansive: 0 = 1-3 word captions. 100 = multi-paragraph essays.\\n\\nIf a channel has zero posts, return tone with all 50s and empty voiceRules.'\n    ) }}\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "cDqTZ0I8h6TjXkKy",
          "name": "Anthropic ' LeadGen"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "5b63121b-464d-4d08-8c25-c3e6be4bed08",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6032,
        464
      ],
      "parameters": {
        "jsCode": "// Merge tone analysis (Claude) back into the channel objects (metrics).\nconst prev = $('Compute Metrics & Heatmap').first().json;\nconst rawText = $input.first().json?.content?.[0]?.text || '';\n\nlet tone = { channels: [] };\ntry {\n  const cleaned = rawText.replace(/^```json?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  tone = JSON.parse(cleaned);\n} catch (e) {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { tone = JSON.parse(m[0]); } catch {} }\n}\n\nconst toneByName = {};\nfor (const t of (tone.channels || [])) {\n  toneByName[(t.name || '').toLowerCase()] = t;\n}\n\nconst channels = (prev.channels || []).map(c => {\n  const t = toneByName[c.name.toLowerCase()] || {};\n  const byId = new Map((t.whyItWorked || []).map(w => [String(w.postId), w.reason]));\n  const topPosts = (c.topPosts || []).map(p => ({ ...p, whyItWorked: byId.get(String(p.id)) || '' }));\n  return {\n    name: c.name,\n    icon: c.icon,\n    color: c.color,\n    handle: c.handle,\n    profileUrl: c.profileUrl,\n    enabled: true,\n    followers: c.followers,\n    postingCadence: c.postingCadence,\n    avgEngagementRate: c.avgEngagementRate,\n    primaryFormat: c.primaryFormat,\n    tone: t.tone || { formal_vs_casual: 50, technical_vs_accessible: 50, serious_vs_playful: 50, humble_vs_bold: 50, short_vs_expansive: 50 },\n    toneSummary: t.toneSummary || '',\n    voiceRules: t.voiceRules || { always: [], never: [] },\n    topPosts,\n    bottomPosts: c.bottomPosts || [],\n    cadenceHeatmap: c.cadenceHeatmap,\n  };\n});\n\nconst result = {\n  brand_id: prev.cfg && prev.cfg.brandId,\n  scanned_at: new Date().toISOString(),\n  scoringWeights: prev.cfg && prev.cfg.weights,\n  channels,\n};\n\nconsole.log('[WF02 Final] channels:', channels.map(c => `${c.name}(top=${c.topPosts.length})`).join(', '));\nreturn [{ json: result }];"
      }
    },
    {
      "id": "1f3548b2-a6cf-4aa4-b28a-3e5164362cef",
      "name": "Persist to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6272,
        464
      ],
      "parameters": {
        "method": "POST",
        "url": "https://lvgqecbibzqkmemecskr.supabase.co/rest/v1/social_media_analyses?on_conflict=brand_id,channel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2Z3FlY2JpYnpxa21lbWVjc2tyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3Nzc2NjYsImV4cCI6MjA5MjM1MzY2Nn0.dFWq5rlelCyQ2Gdx1qQnKZo4s3x828fbC-EADX8D1G8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2Z3FlY2JpYnpxa21lbWVjc2tyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3Nzc2NjYsImV4cCI6MjA5MjM1MzY2Nn0.dFWq5rlelCyQ2Gdx1qQnKZo4s3x828fbC-EADX8D1G8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.channels.map(c => ({ brand_id: $json.brand_id, channel: c.name, handle: (c.handle || '').replace(/^@/, ''), url: c.profileUrl, analysis_json: c, updated_at: $json.scanned_at })) }}",
        "options": {
          "response": {
            "response": {
              "neverError": false
            }
          },
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ce1a9d7c-b8c5-4e88-9b8f-6593f0fa6197",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6512,
        464
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Combine Results').first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook — Scan Owned Channels": {
      "main": [
        [
          {
            "node": "⚙️ Config & Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Config & Route": {
      "main": [
        [
          {
            "node": "Apify — Instagram Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify — TikTok Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify — LinkedIn Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify — LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — Instagram Posts": {
      "main": [
        [
          {
            "node": "Bundle Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — TikTok Posts": {
      "main": [
        [
          {
            "node": "Bundle TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — LinkedIn Company": {
      "main": [
        [
          {
            "node": "Merge LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Merge LinkedIn",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge LinkedIn": {
      "main": [
        [
          {
            "node": "Bundle LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bundle Instagram": {
      "main": [
        [
          {
            "node": "Merge Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bundle TikTok": {
      "main": [
        [
          {
            "node": "Merge Channels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Bundle LinkedIn": {
      "main": [
        [
          {
            "node": "Merge Channels",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Channels": {
      "main": [
        [
          {
            "node": "Compute Metrics & Heatmap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Metrics & Heatmap": {
      "main": [
        [
          {
            "node": "Claude Haiku — Tone Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku — Tone Analysis": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Persist to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "notes": "v11 — LinkedIn fully working. Added harvestapi/linkedin-company-posts ($2/1k, no cookies) + harvestapi/linkedin-company ($3/1k). New Merge LinkedIn node (n8n merge typeVersion 3, numberInputs=2) combines company+posts into one batch before Bundle LinkedIn — previously Bundle ran twice (once per upstream) producing posts:[] due to n8n batch semantics. Bundle LinkedIn separates items by shape (followerCount vs content/engagement). Tested swl-consulting-group: 140 followers, 30 posts, top 5 + tone analysis from Claude Haiku."
  }
}
