n8n-workflows/wf05-hook-mining.json
{
  "name": "WF05 — Hook Mining (social media pipeline)",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook — Mine Hooks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "parameters": {
        "path": "hook-mining",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "wf05-hook-mining"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Create Queue Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 300],
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/workflow_jobs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.SUPABASE_ANON}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.SUPABASE_ANON}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "brand_id", "value": "={{$json.brand_id}}" },
            { "name": "job_type", "value": "hook_mining" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Get Brand Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 300],
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/brand_profiles",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.SUPABASE_ANON}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.SUPABASE_ANON}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "brand_id", "value": "=eq.{{$('Webhook — Mine Hooks').item.json.brand_id}}" },
            { "name": "select", "value": "data_json" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Build Config Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300],
      "parameters": {
        "jsCode": "const webhookBody = $('Webhook — Mine Hooks').item.json;\nconst profileData = $input.first().json;\nconst brandData = profileData?.data_json || {};\nconst companyName = (brandData.identity?.company_name || 'BRAND').toUpperCase().replace(/[^A-Z0-9]/g, '').slice(0, 20);\n\n// Use configName from webhook payload if provided, else derive from brand\nconst configName = webhookBody.configName || companyName;\n\nreturn [{ json: { configName, brand_id: webhookBody.brand_id } }];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Trigger Social Media Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [980, 300],
      "parameters": {
        "url": "={{$vars.SOCIAL_MEDIA_APP_URL}}/api/pipeline/run",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "configName", "value": "={{$json.configName}}" },
            { "name": "maxVideos", "value": 10 },
            { "name": "topK", "value": 3 },
            { "name": "nDays", "value": 30 }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Respond — Pipeline Started",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 180],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Hook mining pipeline started\", \"configName\": \"{{$('Build Config Name').item.json.configName}}\" }"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Wait 3 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1200, 420],
      "parameters": {
        "resume": "timeInterval",
        "amount": 3,
        "unit": "minutes"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Fetch Analyzed Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1420, 420],
      "parameters": {
        "url": "={{$vars.SOCIAL_MEDIA_APP_URL}}/api/videos",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "configName", "value": "={{$('Build Config Name').item.json.configName}}" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Extract and Classify Hooks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 420],
      "parameters": {
        "jsCode": "const videos = $input.all().map(i => i.json);\n\nfunction classifyHook(text) {\n  const t = (text || '').toLowerCase();\n  if (/most people think|stop |we killed|never |wrong|myth/.test(t)) return 'Contrarian';\n  if (/\\d+%|\\d+ (to|in|from) \\d+|\\d+x/.test(t)) return 'Specific Number';\n  if (/how we |how i |the way we /.test(t)) return 'How-We-Do-X';\n  if (/here\\'s|question i ask|mistake most|secret/.test(t)) return 'Open-Loop';\n  if (/every (vp|ceo|founder|engineer|agent|client|investor)/.test(t)) return 'Persona-Aware';\n  return 'Visual-Led';\n}\n\nfunction calcScore(views) {\n  if (views > 500000) return 95;\n  if (views > 100000) return 88;\n  if (views > 50000) return 82;\n  if (views > 10000) return 75;\n  return 68;\n}\n\nconst hooks = [];\nvideos.forEach(video => {\n  if (video.analysis) {\n    const visualMatch = video.analysis.match(/\\*\\*VISUAL:\\*\\*\\s*(.+?)(?:\\n|$)/);\n    const arrowMatch = video.analysis.match(/->\\s*(.+?)(?:\\n|$)/);\n    const hookText = (visualMatch ? visualMatch[1] : '') || (arrowMatch ? arrowMatch[1] : '');\n    if (hookText.length > 10) {\n      hooks.push({\n        text: hookText.trim(),\n        source_type: 'gemini_analysis',\n        framework: classifyHook(hookText),\n        score: calcScore(video.views),\n        creator: video.creator,\n        views: video.views,\n        video_link: video.link,\n        config_name: video.configName,\n      });\n    }\n  }\n  if (video.newConcepts) {\n    const spokenMatches = [...video.newConcepts.matchAll(/\\*\\*SPOKEN[^:]*:\\*\\*[^\"]*\"([^\"]{15,150})\"/g)];\n    spokenMatches.forEach(m => {\n      hooks.push({\n        text: m[1].trim(),\n        source_type: 'claude_concept',\n        framework: classifyHook(m[1]),\n        score: calcScore(video.views),\n        creator: video.creator,\n        views: video.views,\n        video_link: video.link,\n        config_name: video.configName,\n      });\n    });\n  }\n});\n\nhooks.sort((a, b) => b.score - a.score || b.views - a.views);\nreturn hooks.map(h => ({ json: h }));"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Save Hooks to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1860, 420],
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/content_insights",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.SUPABASE_ANON}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.SUPABASE_ANON}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_id\": \"{{$('Webhook — Mine Hooks').item.json.brand_id}}\",\n  \"insight_type\": \"competitor_hook\",\n  \"data_json\": {\n    \"text\": \"{{$json.text}}\",\n    \"framework\": \"{{$json.framework}}\",\n    \"score\": {{$json.score}},\n    \"creator\": \"{{$json.creator}}\",\n    \"views\": {{$json.views}},\n    \"video_link\": \"{{$json.video_link}}\",\n    \"source_type\": \"{{$json.source_type}}\",\n    \"config_name\": \"{{$json.config_name}}\"\n  },\n  \"created_at\": \"{{$now.toISO()}}\"\n}"
      }
    }
  ],
  "connections": {
    "Webhook — Mine Hooks": {
      "main": [
        [
          { "node": "Create Queue Job", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Queue Job": {
      "main": [
        [
          { "node": "Get Brand Profile", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Brand Profile": {
      "main": [
        [
          { "node": "Build Config Name", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Config Name": {
      "main": [
        [
          { "node": "Trigger Social Media Pipeline", "type": "main", "index": 0 }
        ]
      ]
    },
    "Trigger Social Media Pipeline": {
      "main": [
        [
          { "node": "Respond — Pipeline Started", "type": "main", "index": 0 },
          { "node": "Wait 3 minutes", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 3 minutes": {
      "main": [
        [
          { "node": "Fetch Analyzed Videos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Analyzed Videos": {
      "main": [
        [
          { "node": "Extract and Classify Hooks", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract and Classify Hooks": {
      "main": [
        [
          { "node": "Save Hooks to Supabase", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "notes": "SETUP: Create n8n variables SUPABASE_URL, SUPABASE_ANON, SOCIAL_MEDIA_APP_URL (http://localhost:3000). This workflow: (1) receives hook mining trigger from app.js, (2) gets brand profile from Supabase, (3) triggers social media pipeline to scrape+analyze competitor Instagram videos, (4) waits 3 min then fetches results, (5) extracts+classifies hooks, (6) stores in Supabase content_insights for WF06 to use."
  }
}
