n8n-workflows/wf06-brief-generator.json
{
  "name": "WF06 — Brief Generator (with competitor hooks)",
  "nodes": [
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "parameters": {
        "path": "wf06-brief-generator",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "wf06-brief-generator"
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000002",
      "name": "Fetch Brand Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 200],
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/brand_profiles",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.SUPABASE_ANON}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.SUPABASE_ANON}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "brand_id", "value": "=eq.{{$json.brand_id}}" },
            { "name": "select", "value": "data_json" }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000003",
      "name": "Fetch Voice Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 400],
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/brand_voice_rules",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.SUPABASE_ANON}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.SUPABASE_ANON}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "brand_id", "value": "=eq.{{$('Webhook').item.json.brand_id}}" },
            { "name": "order", "value": "created_at.desc" },
            { "name": "limit", "value": "1" }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000004",
      "name": "Fetch Competitor Hooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 600],
      "parameters": {
        "url": "={{$vars.SOCIAL_MEDIA_APP_URL}}/api/videos",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "20" }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000005",
      "name": "Build Brief Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 400],
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').item.json;\nconst channel = webhookData.channel || 'LinkedIn';\nconst persona = webhookData.persona || 'Decision Maker';\n\nconst profileRow = $('Fetch Brand Profile').all()[0]?.json || {};\nconst brandData = profileRow.data_json || {};\nconst identity = brandData.identity || {};\n\nconst voiceRow = $('Fetch Voice Rules').all()[0]?.json || {};\nconst rules = voiceRow.rules_json || {};\nconst alwaysRules = (rules.always_rules || []).slice(0, 5).join('\\n- ');\nconst neverRules = (rules.never_rules || []).slice(0, 5).join('\\n- ');\n\n// Extract top hooks from competitor videos\nconst videos = $('Fetch Competitor Hooks').all().map(i => i.json).slice(0, 20);\nconst competitorHooks = [];\nvideos.forEach(v => {\n  if (v.analysis) {\n    const m = v.analysis.match(/\\*\\*VISUAL:\\*\\*\\s*(.+?)(?:\\n|$)/);\n    if (m && m[1].length > 10) competitorHooks.push(`- [${v.creator}, ${Math.round(v.views/1000)}K views] ${m[1].trim()}`);\n  }\n  if (v.newConcepts) {\n    const matches = [...v.newConcepts.matchAll(/\\*\\*SPOKEN[^:]*:\\*\\*[^\"]*\"([^\"]{15,120})\"/g)];\n    matches.slice(0, 2).forEach(m2 => competitorHooks.push(`- [${v.creator}, AI concept] \"${m2[1].trim()}\"`));\n  }\n});\nconst hooksContext = competitorHooks.slice(0, 8).join('\\n') || '- No competitor hooks available yet (run pipeline first)';\n\nconst toneForChannel = (brandData.tone_by_channel || []).find(t => t.channel === channel) || {};\n\n// Business verticals — payload takes precedence, fallback to brand_profiles.data_json.verticals.\nconst payloadSelected = webhookData.selected_vertical || null;\nconst payloadList = Array.isArray(webhookData.business_verticals) ? webhookData.business_verticals : [];\nconst profileList = Array.isArray(brandData.verticals) ? brandData.verticals : [];\nconst verticals = payloadList.length ? payloadList : profileList;\n\nlet verticalContext = '';\nif (payloadSelected && payloadSelected.name) {\n  verticalContext = `\\n\\nFOCUSED VERTICAL — write this brief specifically for the product/business unit \"${payloadSelected.name}\"${payloadSelected.desc ? ` (${payloadSelected.desc})` : ''}. Hook, body and CTA all anchor on this vertical. Do NOT cover the full portfolio.`;\n} else if (verticals.length) {\n  const list = verticals.map(v => `- ${v.name}${v.desc ? `: ${v.desc}` : ''}`).join('\\n');\n  verticalContext = `\\n\\nBUSINESS VERTICALS (full client portfolio — pick the single most relevant one for this ${channel} brief and anchor the hook on it):\\n${list}`;\n}\n\nconst systemPrompt = `You are an expert content strategist for ${identity.company_name || 'the brand'} in the ${identity.industry || 'B2B'} space.\n\nBrand voice rules:\nALWAYS: ${alwaysRules || 'Be direct, specific, value-first'}\nNEVER: ${neverRules || 'Use jargon, hype, or vague claims'}\n\nChannel: ${channel}\nPersona: ${persona}\nTone for ${channel}: ${toneForChannel.tone || 'Professional'} (${toneForChannel.formality || 'Mid-formal'})\n${toneForChannel.examples ? `Examples: ${toneForChannel.examples}` : ''}${verticalContext}\n\nTop hooks from competitor analysis (adapt these for the brand — do NOT copy):\n${hooksContext}\n\nGenerate a content BRIEF with this structure (JSON):\n{\n  \"hook\": \"Opening line — scroll-stopping, brand-voice compliant, under 15 words\",\n  \"opening\": \"First paragraph — 1-2 sentences expanding the hook\",\n  \"body\": [\"Point 1\", \"Point 2\", \"Point 3\"],\n  \"cta\": \"Closing call-to-action — specific, no fluff\",\n  \"hook_type\": \"Contrarian|Specific Number|How-We-Do-X|Open-Loop|Persona-Aware\",\n  \"hook_score\": 0-100,\n  \"vertical\": \"name of the vertical this brief anchors on (or empty if generic)\",\n  \"channel\": \"${channel}\",\n  \"persona\": \"${persona}\"\n}\n\nReturn ONLY valid JSON. No markdown, no explanation.`;\n\nreturn [{ json: { systemPrompt, channel, persona, brand_id: $('Webhook').item.json.brand_id } }];"
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000006",
      "name": "Call Claude — Generate Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 400],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$vars.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a content strategist. Respond with valid JSON only.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.systemPrompt}}\"\n    }\n  ]\n}"
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000007",
      "name": "Parse Brief + Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400],
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst rawText = claudeResponse.content?.[0]?.text || '{}';\n\nlet brief;\ntry {\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  brief = JSON.parse(jsonMatch ? jsonMatch[0] : rawText);\n} catch (e) {\n  brief = { hook: rawText.slice(0, 200), body: [], cta: '' };\n}\n\nconst briefId = crypto.randomUUID();\n\nreturn [{ json: {\n  brief_id: briefId,\n  brief,\n  brand_id: $('Build Brief Prompt').item.json.brand_id,\n  channel: $('Build Brief Prompt').item.json.channel,\n  persona: $('Build Brief Prompt').item.json.persona,\n} }];"
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000008",
      "name": "Save Brief to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1220, 400],
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/content_briefs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.SUPABASE_ANON}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.SUPABASE_ANON}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{$json.brief_id}}\",\n  \"brand_id\": \"{{$json.brand_id}}\",\n  \"channel\": \"{{$json.channel}}\",\n  \"goal\": \"{{$json.persona}}\",\n  \"brief_json\": {{JSON.stringify($json.brief)}},\n  \"status\": \"ready\",\n  \"created_at\": \"{{$now.toISO()}}\"\n}"
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000009",
      "name": "Respond to App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"brief_id\": \"{{$('Parse Brief + Save').item.json.brief_id}}\",\n  \"brief\": {{JSON.stringify($('Parse Brief + Save').item.json.brief)}}\n}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Fetch Brand Profile", "type": "main", "index": 0 },
          { "node": "Fetch Voice Rules", "type": "main", "index": 0 },
          { "node": "Fetch Competitor Hooks", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Brand Profile": {
      "main": [
        [
          { "node": "Build Brief Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Voice Rules": {
      "main": [
        [
          { "node": "Build Brief Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Competitor Hooks": {
      "main": [
        [
          { "node": "Build Brief Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Brief Prompt": {
      "main": [
        [
          { "node": "Call Claude — Generate Brief", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Claude — Generate Brief": {
      "main": [
        [
          { "node": "Parse Brief + Save", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Brief + Save": {
      "main": [
        [
          { "node": "Save Brief to Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Brief to Supabase": {
      "main": [
        [
          { "node": "Respond to App", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "notes": "SETUP: Set n8n variables SUPABASE_URL, SUPABASE_ANON, SOCIAL_MEDIA_APP_URL, ANTHROPIC_API_KEY. This workflow: (1) fetches brand profile + voice rules from Supabase, (2) fetches top competitor videos/hooks from social media app, (3) builds a Claude prompt that includes brand voice rules + competitor hook examples, (4) calls Claude to generate a channel-specific content brief, (5) saves to content_briefs table, (6) responds to app.js with the brief. Requires WF05 to have run first to populate competitor videos."
  }
}
