n8n-workflows/wf08-social-bios.json
{
  "name": "WF08 — Social Bios (channel voice analysis)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-bios-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-320, 0],
      "id": "wf08-0001",
      "name": "TRIGGER Webhook",
      "webhookId": "wf08-social-bios"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "brand_id",       "value": "={{ $json.body.brand_id }}",       "type": "string" },
            { "id": "2", "name": "channel_name",   "value": "={{ $json.body.channel_name }}",   "type": "string" },
            { "id": "3", "name": "channel_url",    "value": "={{ $json.body.channel_url }}",    "type": "string" },
            { "id": "4", "name": "channel_handle", "value": "={{ $json.body.channel_handle }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-96, 0],
      "id": "wf08-0002",
      "name": "SET Normalize Input"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.channel_url }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept",          "value": "text/plain" },
            { "name": "X-Return-Format", "value": "text" },
            { "name": "X-Timeout",       "value": "12" }
          ]
        },
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [128, 0],
      "id": "wf08-0003",
      "name": "HTTP Scrape — Jina.ai"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "chatInput",
              "value": "={{ 'Analyze the ' + $('SET Normalize Input').item.json.channel_name + ' presence of this brand.\\n\\nHandle: ' + $('SET Normalize Input').item.json.channel_handle + '\\nURL: ' + $('SET Normalize Input').item.json.channel_url + '\\n\\nScraped content:\\n---\\n' + ($json.data || $json.content || $json.text || JSON.stringify($json)).slice(0, 5000) + '\\n---\\n\\nReturn ONLY valid JSON (no markdown, no backticks):\\n{\\n  \"tone\": \"2-3 sentence description of the channel tone\",\\n  \"formality\": \"formal|professional|casual|mixed\",\\n  \"voice_rules\": {\\n    \"do\": [\"rule 1\", \"rule 2\", \"rule 3\"],\\n    \"dont\": [\"rule 1\", \"rule 2\", \"rule 3\"]\\n  },\\n  \"top_posts\": [\\n    { \"text\": \"post excerpt or description (max 80 chars)\", \"why_it_works\": \"reason (max 60 chars)\" }\\n  ],\\n  \"content_patterns\": [\"pattern 1\", \"pattern 2\", \"pattern 3\"],\\n  \"posting_style\": \"1 sentence about posting cadence and format\"\\n}\\n\\nLimits: voice_rules max 5 each, top_posts max 3, content_patterns max 4. If content is limited return best estimate.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [352, 0],
      "id": "wf08-0004",
      "name": "SET Build Prompt"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a social media brand analyst. Analyze brand presence on social channels and extract voice, tone, and content patterns. Return ONLY valid JSON — no markdown, no backticks, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [576, 0],
      "id": "wf08-0005",
      "name": "AI Agent — Analyze Voice"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [416, 192],
      "id": "wf08-0006",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xbJJ9H7cyyw2gCse",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output || '';\n\nlet analysis;\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  const m = clean.match(/\\{[\\s\\S]*\\}/);\n  analysis = JSON.parse(m ? m[0] : clean);\n} catch(e) {\n  analysis = {\n    tone: 'Could not parse scraped content.',\n    formality: 'unknown',\n    voice_rules: { do: [], dont: [] },\n    top_posts: [],\n    content_patterns: [],\n    posting_style: ''\n  };\n}\n\nreturn {\n  brand_id:      $('SET Normalize Input').item.json.brand_id,\n  channel:       $('SET Normalize Input').item.json.channel_name,\n  handle:        $('SET Normalize Input').item.json.channel_handle,\n  url:           $('SET Normalize Input').item.json.channel_url,\n  analysis_json: JSON.stringify(analysis),\n  updated_at:    new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "wf08-0007",
      "name": "CODE Parse Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lvgqecbibzqkmemecskr.supabase.co/rest/v1/social_media_analyses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2Z3FlY2JpYnpxa21lbWVjc2tyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc3NzY2NiwiZXhwIjoyMDkyMzUzNjY2fQ.LSt9d2Qh4rP1HEw5xFFGYaR95-YEn_xVoqjYlmpndhI" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2Z3FlY2JpYnpxa21lbWVjc2tyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc3NzY2NiwiZXhwIjoyMDkyMzUzNjY2fQ.LSt9d2Qh4rP1HEw5xFFGYaR95-YEn_xVoqjYlmpndhI" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_id\":      \"{{ $json.brand_id }}\",\n  \"channel\":       \"{{ $json.channel }}\",\n  \"handle\":        \"{{ $json.handle }}\",\n  \"url\":           \"{{ $json.url }}\",\n  \"analysis_json\": {{ $json.analysis_json }},\n  \"updated_at\":    \"{{ $json.updated_at }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1024, 0],
      "id": "wf08-0008",
      "name": "HTTP Upsert — social_media_analyses"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"channel\": \"{{ $('CODE Parse Response').item.json.channel }}\", \"brand_id\": \"{{ $('CODE Parse Response').item.json.brand_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1248, 0],
      "id": "wf08-0009",
      "name": "RESPOND to Webhook"
    }
  ],
  "connections": {
    "TRIGGER Webhook":           { "main": [[{ "node": "SET Normalize Input",                      "type": "main", "index": 0 }]] },
    "SET Normalize Input":       { "main": [[{ "node": "HTTP Scrape — Jina.ai",                    "type": "main", "index": 0 }]] },
    "HTTP Scrape — Jina.ai":     { "main": [[{ "node": "SET Build Prompt",                        "type": "main", "index": 0 }]] },
    "SET Build Prompt":          { "main": [[{ "node": "AI Agent — Analyze Voice",                "type": "main", "index": 0 }]] },
    "AI Agent — Analyze Voice":  { "main": [[{ "node": "CODE Parse Response",                     "type": "main", "index": 0 }]] },
    "CODE Parse Response":       { "main": [[{ "node": "HTTP Upsert — social_media_analyses",     "type": "main", "index": 0 }]] },
    "HTTP Upsert — social_media_analyses": { "main": [[{ "node": "RESPOND to Webhook",            "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent — Analyze Voice", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "250f37a53250736be8af461c3752e7652027cf011896ba5176c1c6100ed4f0a0"
  }
}
